<div class="container pt-5 pb-5 mb-5">
  <div class="heading heading-flex">
    <div class="heading-left">
      <h2 class="title">Weekly Popular</h2>
    </div>

    <div class="heading-right">
      <a routerLink="/shop" class="title-link"
        >View more Products <i class="icon-long-arrow-right"></i
      ></a>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <div
        id="my-custom-carousel-2"
        class="owl-carousel carousel-equal-height owl-simple"
        data-toggle="owl"
      >
        <div class="product-big">
          <img
            src="../../assets/images/demos/demo-20/products/product-big-1-bg.jpg"
            alt="product bg img"
          />

          <div class="product-wrap">
            <figure class="product-media">
              <a routerLink="product.html">
                <img
                  src="../../assets/images/demos/demo-20/products/product-big-1.jpg"
                  alt="Product image"
                  class="product-image"
                />
              </a>
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <div class="product-cat">
                by <a routerLink="#">Becky Albertalli</a> and
                <a routerLink="#">Adam Silvera</a>
              </div>
              <!-- End .product-cat -->
              <h3 class="product-title">
                <a routerLink="product.html">What If <br />It's Us.</a>
              </h3>
              <!-- End .product-title -->
              <div class="product-price">$18.99</div>
              <!-- End .product-price -->

              <div class="product-action">
                <a routerLink="#" class="btn-product btn-cart"
                  ><span>add to cart</span></a
                >
              </div>
              <!-- End .product-action -->
            </div>
            <!-- End .product-body -->
          </div>
          <!-- End .product-wrap -->
        </div>
        <!-- End .product-big -->

        <div class="product-big">
          <img
            src="../../assets/images/demos/demo-20/products/product-big-2-bg.jpg"
            alt="product bg img"
          />

          <div class="product-wrap">
            <figure class="product-media">
              <a routerLink="product.html">
                <img
                  src="../../assets/images/demos/demo-20/products/product-12.jpg"
                  alt="Product image"
                  class="product-image"
                />
              </a>
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <div class="product-cat">
                by <a routerLink="#">Nicola Yoon </a>
              </div>
              <!-- End .product-cat -->
              <h3 class="product-title">
                <a routerLink="product.html">The Sun Is Also a Star.</a>
              </h3>
              <!-- End .product-title -->
              <div class="product-price">$10.99</div>
              <!-- End .product-price -->

              <div class="product-action">
                <a routerLink="#" class="btn-product btn-cart"
                  ><span>add to cart</span></a
                >
              </div>
              <!-- End .product-action -->
            </div>
            <!-- End .product-body -->
          </div>
          <!-- End .product-wrap -->
        </div>
        <!-- End .product-big -->
      </div>
      <!-- End .owl-carousel -->

      <div class="mb-3 d-xl-none"></div>
      <!-- End .mb-3 d-none -->
    </div>
    <!-- End .col-lg-4 -->

    <div class="col-xl-8">
      <div class="block-wrapper">
        <div
          class="owl-carousel carousel-equal-height owl-simple"
          data-toggle="owl"
          data-owl-options='{
                                  "nav": false, 
                                  "dots": true,
                                  "margin": 20,
                                  "loop": false,
                                  "responsive": {
                                      "0": {
                                          "items":2
                                      },
                                      "480": {
                                          "items":2
                                      },
                                      "768": {
                                          "items":3
                                      },
                                      "992": {
                                          "items":4
                                      },
                                      "1200": {
                                          "items":3
                                      },
                                      "1440": {
                                          "items":4
                                      }
                                  }
                              }'
        >
          <div class="product">
            <figure class="product-media">
              <a routerLink="product.html">
                <img
                  src="../../assets/images/demos/demo-20/products/product-6.jpg"
                  alt="Product image"
                  class="product-image"
                />
              </a>
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <div class="product-cat">by <a routerLink="#">John Gray</a></div>
              <!-- End .product-cat -->
              <h3 class="product-title">
                <a routerLink="product.html"
                  >The Durrells of Corfu: Exclusive Edition</a
                >
              </h3>
              <!-- End .product-title -->
              <div class="product-price">$24.48</div>
              <!-- End .product-price -->

              <div class="product-footer">
                <div class="ratings-container">
                  <div class="ratings">
                    <div class="ratings-val" style="width: 80%"></div>
                    <!-- End .ratings-val -->
                  </div>
                  <!-- End .ratings -->
                  <span class="ratings-text">( 5 Reviews )</span>
                </div>
                <!-- End .rating-container -->
                <div class="product-action">
                  <a routerLink="#" class="btn-product btn-cart"
                    ><span>add to cart</span></a
                  >
                  <a routerLink="#" class="btn-product btn-wishlist"
                    ><span>Add to Wishlist</span></a
                  >
                </div>
                <!-- End .product-action -->
              </div>
              <!-- End .product-footer -->
            </div>
            <!-- End .product-body -->
          </div>
          <!-- End .product -->

          <div class="product">
            <figure class="product-media">
              <a routerLink="product.html">
                <img
                  src="../../assets/images/demos/demo-20/products/product-7.jpg"
                  alt="Product image"
                  class="product-image"
                />
              </a>
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <div class="product-cat">by <a routerLink="#">John Gray</a></div>
              <!-- End .product-cat -->
              <h3 class="product-title">
                <a routerLink="product.html"
                  >The Moon: A History for the Future
                </a>
              </h3>
              <!-- End .product-title -->
              <div class="product-price">$16.97</div>
              <!-- End .product-price -->

              <div class="product-footer">
                <div class="ratings-container">
                  <div class="ratings">
                    <div class="ratings-val" style="width: 80%"></div>
                    <!-- End .ratings-val -->
                  </div>
                  <!-- End .ratings -->
                  <span class="ratings-text">( 5 Reviews )</span>
                </div>
                <!-- End .rating-container -->
                <div class="product-action">
                  <a routerLink="#" class="btn-product btn-cart"
                    ><span>add to cart</span></a
                  >
                  <a routerLink="#" class="btn-product btn-wishlist"
                    ><span>Add to Wishlist</span></a
                  >
                </div>
                <!-- End .product-action -->
              </div>
              <!-- End .product-footer -->
            </div>
            <!-- End .product-body -->
          </div>
          <!-- End .product -->

          <div class="product">
            <figure class="product-media">
              <a routerLink="product.html">
                <img
                  src="../../assets/images/demos/demo-20/products/product-8.jpg"
                  alt="Product image"
                  class="product-image"
                />
              </a>
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <div class="product-cat">by <a routerLink="#">John Gray</a></div>
              <!-- End .product-cat -->
              <h3 class="product-title">
                <a routerLink="product.html">Hard Pushed: A Midwife's Story</a>
              </h3>
              <!-- End .product-title -->
              <div class="product-price">$12.99</div>
              <!-- End .product-price -->

              <div class="product-footer">
                <div class="ratings-container">
                  <div class="ratings">
                    <div class="ratings-val" style="width: 100%"></div>
                    <!-- End .ratings-val -->
                  </div>
                  <!-- End .ratings -->
                  <span class="ratings-text">( 4 Reviews )</span>
                </div>
                <!-- End .rating-container -->
                <div class="product-action">
                  <a routerLink="#" class="btn-product btn-cart"
                    ><span>add to cart</span></a
                  >
                  <a routerLink="#" class="btn-product btn-wishlist"
                    ><span>Add to Wishlist</span></a
                  >
                </div>
                <!-- End .product-action -->
              </div>
              <!-- End .product-footer -->
            </div>
            <!-- End .product-body -->
          </div>
          <!-- End .product -->

          <div class="product">
            <figure class="product-media">
              <a routerLink="product.html">
                <img
                  src="../../assets/images/demos/demo-20/products/product-9.jpg"
                  alt="Product image"
                  class="product-image"
                />
              </a>
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <div class="product-cat">by <a routerLink="#">John Gray</a></div>
              <!-- End .product-cat -->
              <h3 class="product-title">
                <a routerLink="product.html">This Lie Will Kill You</a>
              </h3>
              <!-- End .product-title -->
              <div class="product-price">$7.99</div>
              <!-- End .product-price -->

              <div class="product-footer">
                <div class="ratings-container">
                  <div class="ratings">
                    <div class="ratings-val" style="width: 0%"></div>
                    <!-- End .ratings-val -->
                  </div>
                  <!-- End .ratings -->
                  <span class="ratings-text">( 0 Reviews )</span>
                </div>
                <!-- End .rating-container -->
                <div class="product-action">
                  <a routerLink="#" class="btn-product btn-cart"
                    ><span>add to cart</span></a
                  >
                  <a routerLink="#" class="btn-product btn-wishlist"
                    ><span>Add to Wishlist</span></a
                  >
                </div>
                <!-- End .product-action -->
              </div>
              <!-- End .product-footer -->
            </div>
            <!-- End .product-body -->
          </div>
          <!-- End .product -->
        </div>
        <!-- End .owl-carousel -->
      </div>
      <!-- End .block-wrapper -->
    </div>
    <!-- End .col-lg-8 -->
  </div>
  <!-- End .row -->
</div>
