<div class="container pt-5 pb-5 mb-5">
  <div class="heading heading-flex">
    <div class="heading-left">
      <h2 class="title">Weekly Popular</h2>
    </div>

    <div class="heading-right">
      <a routerLink="/shop" class="title-link"
        >View more Products <i class="icon-long-arrow-right"></i
      ></a>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <owl-carousel-o [options]="customOptions">
        <ng-container>
          <ng-template class="slide" carouselSlide>
            <div class="product-big" style="width: 500px; height: 500px">
              <img
                src="../../assets/images/demos/demo-20/products/product-big-2-bg.jpg"
                alt="product bg img"
              />

              <div class="product-wrap">
                <figure class="product-media">
                  <a routerLink="/product/58438583">
                    <img
                      src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1626799802l/58438583.jpg"
                      alt="Product image"
                      class="product-image"
                    />
                  </a>
                </figure>
                <!-- End .product-media -->

                <div class="product-body">
                  <div class="product-cat">
                    by <a routerLink="/product/58438583">Rebecca Serle</a>
                  </div>
                  <!-- End .product-cat -->
                  <h3 class="product-title">
                    <a routerLink="/product/58438583">One Italian Summer</a>
                  </h3>
                  <!-- End .product-title -->
                  <div class="product-price">$14.99</div>
                  <!-- End .product-price -->

                  <div class="product-action" *ngIf="isAuthenticated">
                    <a
                      *ngIf="!isAddedToCart"
                      (click)="onCart(58438583)"
                      style="cursor: pointer"
                      class="btn-product btn-cart"
                      ><span>add to cart</span></a
                    >
                  </div>
                  <!-- End .product-action -->
                </div>
                <!-- End .product-body -->
              </div>
              <!-- End .product-wrap -->
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
      <!-- End .owl-carousel -->

      <div class="mb-3 d-xl-none"></div>
      <!-- End .mb-3 d-none -->
    </div>
    <!-- End .col-lg-4 -->

    <div class="col-xl-8">
      <div class="block-wrapper">
        <!-- NEW CAROUSEL-->
        <owl-carousel-o [options]="customOptions2">
          <ng-container>
            <ng-template
              class="slide"
              carouselSlide
              *ngFor="let product of weekly"
            >
              <app-weekly-popular-item
                [isAuthenticated]="isAuthenticated"
                [product]="product"
              ></app-weekly-popular-item>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <!-- End of NEW .owl-carousel -->
        <!-- OLD CAROUSEL-->

        <!-- End .owl-carousel -->
      </div>
      <!-- End .block-wrapper -->
    </div>
    <!-- End .col-lg-8 -->
  </div>
  <!-- End .row -->
</div>
