<div class="page-wrapper">
  <app-header></app-header>
  <main class="main">
    <app-intro></app-intro>
    <app-bestseller></app-bestseller>
    <app-weekly-popular></app-weekly-popular>
  </main>
  <app-footer></app-footer>
</div>
<app-auth-modal></app-auth-modal>

<!-- Plugins JS File -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/jquery.hoverIntent.min.js"></script>
<script src="../assets/js/jquery.waypoints.min.js"></script>
<script src="../assets/js/superfish.min.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/jquery.magnific-popup.min.js"></script>
<!-- Main JS File -->
<script src="../assets/js/main.js"></script>
<script src="../assets/js/demos/demo-20.js"></script>
