<header class="header header-12">
  <div class="header-top">
    <div class="container">
      <div class="header-left">
        <a style="cursor: pointer"
          ><i class="icon-phone"></i>Call: +359 999 999</a
        >
      </div>
      <!-- End .header-left -->
      <div class="header-right">
        <ul class="top-menu">
          <li>
            <a routerLink="/">Links</a>
            <ul class="dropdown-links">
              <li>
                <a href="#signin-modal" data-toggle="modal"
                  >Sign in / Sign up</a
                >
              </li>
              <li>
                <a routerLink="/logout" (click)="onLogout()">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- End .top-menu -->
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-top -->

  <div class="header-middle">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a routerLink="/" class="logo">
          <img
            src="../../assets/images/demos/demo-20/logo.png"
            alt="BookHub Logo"
            height="145px"
            width="165px"
          />
        </a>
      </div>
      <!-- End .header-left -->

      <div class="header-right">
        <div
          class="header-search header-search-extended header-search-visible header-search-no-radius"
        >
          <a routerLink="#" class="search-toggle" role="button"
            ><i class="icon-search"></i
          ></a>
          <form #searchForm="ngForm" (ngSubmit)="onSearchSubmit(searchForm)">
            <div class="header-search-wrapper search-wrapper-wide">
              <label for="searched" class="sr-only">Search</label>
              <input
                type="search"
                class="form-control"
                name="searched"
                ngModel
                id="searched"
                placeholder="Search a book..."
                required
              />

              <button class="btn btn-primary" type="submit">
                <i class="icon-search"></i>
              </button>
            </div>
          </form>
        </div>

        <div class="header-dropdown-link">
          <div class="account">
            <a routerLink="/profile" title="My account">
              <div class="icon">
                <i class="icon-user"></i>
              </div>
              <p>Account</p>
            </a>
          </div>
          <!-- End .compare-dropdown -->

          <div class="wishlist">
            <a routerLink="/wishlist" title="Wishlist">
              <div class="icon">
                <i class="icon-heart-o"></i>
                <span class="wishlist-count badge">0</span>
              </div>
              <p>Wishlist</p>
            </a>
          </div>
          <!-- End .compare-dropdown -->

          <div class="dropdown cart-dropdown">
            <a
              routerLink="#"
              class="dropdown-toggle"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              data-display="static"
            >
              <div class="icon">
                <i class="icon-shopping-cart"></i>
                <span class="cart-count">0</span>
              </div>
              <p>Cart</p>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-cart-products">
                <div class="product">
                  <div class="product-cart-details">
                    <h4 class="product-title">
                      <a routerLink="product.html"
                        >Beige knitted elastic runner shoes</a
                      >
                    </h4>

                    <span class="cart-product-info">
                      <span class="cart-product-qty">1</span>
                      x $84.00
                    </span>
                  </div>
                  <!-- End .product-cart-details -->

                  <figure class="product-image-container">
                    <a routerLink="product.html" class="product-image">
                      <img
                        src="../../assets/images/products/cart/product-1.jpg"
                        alt="product"
                      />
                    </a>
                  </figure>
                  <a routerLink="#" class="btn-remove" title="Remove Product"
                    ><i class="icon-close"></i
                  ></a>
                </div>
                <!-- End .product -->

                <div class="product">
                  <div class="product-cart-details">
                    <h4 class="product-title">
                      <a routerLink="product.html"
                        >Blue utility pinafore denim dress</a
                      >
                    </h4>

                    <span class="cart-product-info">
                      <span class="cart-product-qty">1</span>
                      x $76.00
                    </span>
                  </div>
                  <!-- End .product-cart-details -->

                  <figure class="product-image-container">
                    <a routerLink="product.html" class="product-image">
                      <img
                        src="../../assets/images/products/cart/product-2.jpg"
                        alt="product"
                      />
                    </a>
                  </figure>
                  <a routerLink="#" class="btn-remove" title="Remove Product"
                    ><i class="icon-close"></i
                  ></a>
                </div>
                <!-- End .product -->
              </div>
              <!-- End .cart-product -->

              <div class="dropdown-cart-total">
                <span>Total</span>

                <span class="cart-total-price">$160.00</span>
              </div>
              <!-- End .dropdown-cart-total -->

              <div class="dropdown-cart-action">
                <a routerLink="/cart" class="btn btn-primary">View Cart</a>
                <a routerLink="/checkout" class="btn btn-outline-primary-2"
                  ><span>Checkout</span><i class="icon-long-arrow-right"></i
                ></a>
              </div>
              <!-- End .dropdown-cart-total -->
            </div>
            <!-- End .dropdown-menu -->
          </div>
          <!-- End .cart-dropdown -->
        </div>
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-middle -->

  <div class="header-bottom sticky-header">
    <div class="container">
      <div style="background-color: #333; display: flex; width: 100%">
        <div class="header-left">
          <div class="dropdown category-dropdown">
            <a
              routerLink="#"
              class="dropdown-toggle"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              data-display="static"
              title="Browse Categories"
            >
              Browse Categories
            </a>

            <div class="dropdown-menu">
              <nav class="side-nav">
                <ul class="menu-vertical sf-arrows">
                  <li class="item-lead">
                    <a routerLink="#">Best Books of 2021</a>
                  </li>
                  <li class="item-lead">
                    <a routerLink="#">New for 2022</a>
                  </li>
                  <li><a routerLink="#">Art & Photography</a></li>
                  <li><a routerLink="#">Biography</a></li>
                  <li><a routerLink="#">Children's Books</a></li>
                  <li><a routerLink="#">Crafts & Hobbies</a></li>
                  <li><a routerLink="#">Fiction</a></li>
                  <li><a routerLink="#">Food & Drink</a></li>
                  <li><a routerLink="#">Graphic Novels, Anime & Manga</a></li>
                  <li><a routerLink="#">Health & Fitness Books</a></li>
                  <li><a routerLink="#">Young Adult</a></li>
                </ul>
                <!-- End .menu-vertical -->
              </nav>
              <!-- End .side-nav -->
            </div>
            <!-- End .dropdown-menu -->
          </div>
          <!-- End .category-dropdown -->
        </div>
        <!-- End .header-left -->

        <div class="header-center">
          <nav class="main-nav">
            <ul class="menu sf">
              <li class="megamenu-container">
                <a routerLink="/" routerLinkActive="active">Home</a>
                <!-- End .megamenu -->
              </li>
              <li>
                <a routerLink="/shop" routerLinkActive="active">Shop</a>

                <!-- End .megamenu megamenu-md -->
              </li>
              <li>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>

                <!-- End .megamenu megamenu-md -->
              </li>
              <li>
                <a routerLink="/about" routerLinkActive="active">About</a>

                <!-- End .megamenu megamenu-md -->
              </li>
            </ul>
            <!-- End .menu -->
          </nav>
          <!-- End .main-nav -->
        </div>

        <div class="header-right">
          <i class="la la-lightbulb-o"></i>
          <p>Clearance Up to 30% Off</p>
        </div>
        <!-- End .header-right -->
      </div>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-bottom -->
</header>
