<header class="header header-12">
  <div class="header-top">
    <div class="container">
      <div class="header-left">
        <a style="cursor: pointer"
          ><i class="icon-phone"></i>Call: +359 999 999</a
        >
      </div>
      <!-- End .header-left -->
      <div class="header-right">
        <ul class="top-menu">
          <li>
            <a routerLink="/">Links</a>
            <ul class="dropdown-links">
              <li *ngIf="!isAuthenticated">
                <a href="#signin-modal" data-toggle="modal"
                  >Sign in / Sign up</a
                >
              </li>
              <li>
                <a
                  routerLink="/logout"
                  *ngIf="isAuthenticated"
                  (click)="onLogout()"
                  >Logout</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <!-- End .top-menu -->
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-top -->

  <div class="header-middle">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a routerLink="/" class="logo">
          <img
            src="../../assets/images/demos/demo-20/logo.png"
            alt="BookHub Logo"
            height="145px"
            width="165px"
          />
        </a>
      </div>
      <!-- End .header-left -->

      <div class="header-right">
        <div
          class="header-search header-search-extended header-search-visible header-search-no-radius"
        >
          <a routerLink="#" class="search-toggle" role="button"
            ><i class="icon-search"></i
          ></a>
          <form #searchForm="ngForm" (ngSubmit)="onSearchSubmit(searchForm)">
            <div class="header-search-wrapper search-wrapper-wide">
              <label for="searched" class="sr-only">Search</label>
              <input
                type="search"
                class="form-control"
                name="searched"
                ngModel
                id="searched"
                placeholder="Search a book..."
                required
              />

              <button class="btn btn-primary" type="submit">
                <i class="icon-search"></i>
              </button>
            </div>
          </form>
        </div>

        <div class="header-dropdown-link" *ngIf="isAuthenticated">
          <div class="account">
            <a routerLink="/profile" title="My account">
              <div class="icon">
                <i class="icon-user"></i>
              </div>
              <p>Account</p>
            </a>
          </div>
          <!-- End .compare-dropdown -->

          <div class="wishlist">
            <a routerLink="/wishlist" title="Wishlist">
              <div class="icon">
                <i class="icon-heart-o"></i>
                <span class="wishlist-count badge">{{ wishlistItems }}</span>
              </div>
              <p>Wishlist</p>
            </a>
          </div>
          <!-- End .compare-dropdown -->

          <div class="dropdown cart-dropdown">
            <a
              routerLink="/cart"
              class="dropdown-toggle"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              data-display="static"
            >
              <div class="icon">
                <i class="icon-shopping-cart"></i>
                <span class="cart-count">{{ cartItems }}</span>
              </div>
              <p>Cart</p>
            </a>

            <!-- End .dropdown-menu -->
          </div>
          <!-- End .cart-dropdown -->
        </div>
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-middle -->

  <div class="header-bottom sticky-header">
    <div class="container">
      <div style="background-color: #333; display: flex; width: 100%">
        <div class="header-left">
          <div class="dropdown category-dropdown">
            <a
              style="cursor: pointer"
              (mouseover)="onMouseOver()"
              class="dropdown-toggle"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              data-display="static"
              title="Browse Categories"
            >
              Browse Categories
            </a>

            <div class="dropdown-menu">
              <nav class="side-nav">
                <ul class="menu-vertical sf-arrows">
                  <li class="item-lead">
                    <a routerLink="/shop">Best Books of 2021</a>
                  </li>
                  <li class="item-lead">
                    <a routerLink="/shop">New for 2022</a>
                  </li>

                  <li *ngFor="let category of categories">
                    <a routerLink="shop">{{ category }}</a>
                  </li>
                </ul>
                <!-- End .menu-vertical -->
              </nav>
              <!-- End .side-nav -->
            </div>
            <!-- End .dropdown-menu -->
          </div>
          <!-- End .category-dropdown -->
        </div>
        <!-- End .header-left -->

        <div class="header-center">
          <nav class="main-nav">
            <ul class="menu sf">
              <li class="megamenu-container">
                <a routerLink="/" routerLinkActive="active">Home</a>
                <!-- End .megamenu -->
              </li>
              <li>
                <a routerLink="/shop" routerLinkActive="active">Shop</a>

                <!-- End .megamenu megamenu-md -->
              </li>
              <li>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>

                <!-- End .megamenu megamenu-md -->
              </li>
              <li>
                <a routerLink="/about" routerLinkActive="active">About</a>

                <!-- End .megamenu megamenu-md -->
              </li>
            </ul>
            <!-- End .menu -->
          </nav>
          <!-- End .main-nav -->
        </div>

        <div class="header-right">
          <i class="la la-lightbulb-o"></i>
          <p>Clearance Up to 30% Off</p>
        </div>
        <!-- End .header-right -->
      </div>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-bottom -->
</header>
