<footer class="footer footer-2">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6 col-xl-5">
          <div class="widget widget-about">
            <img
              src="../../assets/images/demos/demo-20/logo-footer.png"
              class="footer-logo"
              alt="Footer Logo"
              width="105"
              height="25"
            />
            <p>
              Praesent dapibus, neque id cursus ucibus, tortor neque egestas
              augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam
              dui mi, tincidunt quis, accumsan porttitor, facilisis luctus,
              metus.
            </p>

            <div class="widget-about-info">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <span class="widget-about-title"
                    >Got Question? Call us 24/7</span
                  >
                  <a routerLink="tel:123456789">+0123 456 789</a>
                </div>
                <!-- End .col-sm-6 -->
                <div class="col-sm-6 col-md-8">
                  <span class="widget-about-title">Payment Method</span>
                  <figure class="footer-payments">
                    <img
                      src="../../assets/images/payments.png"
                      alt="Payment methods"
                      width="272"
                      height="20"
                    />
                  </figure>
                  <!-- End .footer-payments -->
                </div>
                <!-- End .col-sm-6 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .widget-about-info -->
          </div>
          <!-- End .widget about-widget -->
        </div>
        <!-- End .col-sm-12 col-lg-3 -->

        <div class="col-lg-6 col-xl-7">
          <div class="row">
            <div class="col-sm-4">
              <div class="widget">
                <h4 class="widget-title">Information</h4>
                <!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a routerLink="about.html">About Molla</a></li>
                  <li><a routerLink="#">How to shop on Molla</a></li>
                  <li><a routerLink="faq.html">FAQ</a></li>
                  <li><a routerLink="contact.html">Contact us</a></li>
                  <li><a routerLink="login.html">Log in</a></li>
                </ul>
                <!-- End .widget-list -->
              </div>
              <!-- End .widget -->
            </div>
            <!-- End .col-sm-4 col-lg-3 -->

            <div class="col-sm-4">
              <div class="widget">
                <h4 class="widget-title">Customer Service</h4>
                <!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a routerLink="#">Payment Methods</a></li>
                  <li><a routerLink="#">Money-back guarantee!</a></li>
                  <li><a routerLink="#">Returns</a></li>
                  <li><a routerLink="#">Shipping</a></li>
                  <li><a routerLink="#">Terms and conditions</a></li>
                  <li><a routerLink="#">Privacy Policy</a></li>
                </ul>
                <!-- End .widget-list -->
              </div>
              <!-- End .widget -->
            </div>
            <!-- End .col-sm-4 col-lg-3 -->

            <div class="col-sm-4">
              <div class="widget">
                <h4 class="widget-title">My Account</h4>
                <!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a routerLink="login.html">Sign In</a></li>
                  <li><a routerLink="cart.html">View Cart</a></li>
                  <li><a routerLink="wishlist.html">My Wishlist</a></li>
                  <li><a routerLink="#">Track My Order</a></li>
                  <li><a routerLink="#">Help</a></li>
                </ul>
                <!-- End .widget-list -->
              </div>
              <!-- End .widget -->
            </div>
            <!-- End .col-sm-4 col-lg-2 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .col-lg-6 col-xl-7 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .footer-middle -->

  <div class="footer-bottom">
    <div class="container">
      <p class="footer-copyright">
        Copyright © 2019 Molla Store. All Rights Reserved.
      </p>
      <!-- End .footer-copyright -->
      <ul class="footer-menu">
        <li><a routerLink="#">Terms Of Use</a></li>
        <li><a routerLink="#">Privacy Policy</a></li>
      </ul>
      <!-- End .footer-menu -->

      <div class="social-icons social-icons-color">
        <span class="social-label">Social Media</span>
        <a
          routerLink="#"
          class="social-icon social-facebook"
          title="Facebook"
          target="_blank"
          ><i class="icon-facebook-f"></i
        ></a>
        <a
          routerLink="#"
          class="social-icon social-twitter"
          title="Twitter"
          target="_blank"
          ><i class="icon-twitter"></i
        ></a>
        <a
          routerLink="#"
          class="social-icon social-instagram"
          title="Instagram"
          target="_blank"
          ><i class="icon-instagram"></i
        ></a>
        <a
          routerLink="#"
          class="social-icon social-youtube"
          title="Youtube"
          target="_blank"
          ><i class="icon-youtube"></i
        ></a>
        <a
          routerLink="#"
          class="social-icon social-pinterest"
          title="Pinterest"
          target="_blank"
          ><i class="icon-pinterest"></i
        ></a>
      </div>
      <!-- End .soial-icons -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .footer-bottom -->
</footer>
