<div class="intro-section pt-lg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="banner banner-big banner-overlay">
          <a href="#">
            <img
              src="../../assets/images/demos/demo-20/banners/banner-1.jpg"
              alt="Banner"
            />
          </a>

          <div class="banner-content">
            <h4 class="banner-subtitle text-white">
              <a href="#">Your Guide To The World</a>
            </h4>
            <!-- End .banner-subtitle -->
            <h2 class="banner-title text-white">
              <a href="#">Must-Read <br />Travel Books</a>
            </h2>
            <!-- End .banner-title -->
            <a href="#" class="btn btn-outline-white-3 banner-link"
              >Find out more<i class="icon-long-arrow-right"></i
            ></a>
          </div>
          <!-- End .banner-content -->
        </div>
        <!-- End .banner -->
      </div>
      <!-- End .col-lg-6 -->

      <div class="col-sm-6 col-lg-3">
        <div class="banner banner-overlay">
          <a href="#">
            <img
              src="../../assets/images/demos/demo-20/banners/banner-2.jpg"
              alt="Banner"
            />
          </a>

          <div class="banner-content banner-content-stretch">
            <h4 class="banner-subtitle text-white">
              <a href="#">New This Week</a>
            </h4>
            <!-- End .banner-subtitle -->
            <h3 class="banner-title text-white">
              <a href="#">Discover Our <br />Best Angular <br />Books</a>
            </h3>
            <!-- End .banner-title -->
            <a href="#" class="btn btn-outline-white-3 banner-link"
              >Discover Now<i class="icon-long-arrow-right"></i
            ></a>
          </div>
          <!-- End .banner-content -->
        </div>
        <!-- End .banner -->
      </div>
      <!-- End .col-lg-3 -->

      <div class="col-sm-6 col-lg-3">
        <div class="banner banner-small banner-overlay">
          <a href="#">
            <img
              src="../../assets/images/demos/demo-20/banners/banner-3.jpg"
              alt="Banner"
            />
          </a>

          <div class="banner-content">
            <h4 class="banner-subtitle text-white d-lg-none d-xl-block">
              <a href="#">Deal Of The Day</a>
            </h4>
            <!-- End .banner-subtitle -->
            <h3 class="banner-title text-white">
              <a href="#">20% Off Use <br />Code: <span>mybook</span></a>
            </h3>
            <!-- End .banner-title -->
            <a href="#" class="btn btn-outline-white-3 banner-link"
              >Shop Now<i class="icon-long-arrow-right"></i
            ></a>
          </div>
          <!-- End .banner-content -->
        </div>
        <!-- End .banner -->

        <div class="banner banner-small banner-overlay">
          <a href="#">
            <img
              src="../../assets/images/demos/demo-20/banners/banner-4.jpg"
              alt="Banner"
            />
          </a>

          <div class="banner-content">
            <h4 class="banner-subtitle text-white d-lg-none d-xl-block">
              <a href="#">New Arrivals</a>
            </h4>
            <!-- End .banner-subtitle -->
            <h3 class="banner-title text-white">
              <a href="#">Business <br />& Economics</a>
            </h3>
            <!-- End .banner-title -->
            <a href="#" class="btn btn-outline-white-3 banner-link"
              >Discover Now<i class="icon-long-arrow-right"></i
            ></a>
          </div>
          <!-- End .banner-content -->
        </div>
        <!-- End .banner -->
      </div>
      <!-- End .col-lg-3 -->
    </div>
    <!-- End .row -->
  </div>
  <!-- End .container -->

  <div class="icon-boxes-container bg-transparent">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon">
              <i class="icon-truck"></i>
            </span>
            <div class="icon-box-content">
              <h3 class="icon-box-title">Payment & Delivery</h3>
              <!-- End .icon-box-title -->
              <p>Free shipping for orders over $50</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon">
              <i class="icon-rotate-left"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Return & Refund</h3>
              <!-- End .icon-box-title -->
              <p>Free 100% money back guarantee</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon">
              <i class="icon-life-ring"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Quality Support</h3>
              <!-- End .icon-box-title -->
              <p>Alway online feedback 24/7</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon">
              <i class="icon-envelope"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Join Our Newsletter</h3>
              <!-- End .icon-box-title -->
              <p>10% off by subscribing to our newsletter</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .icon-boxes-container -->
</div>
