<div
  class="page-header text-center"
  style="background-image: url('../../assets/images/page-header-bg.jpg')"
>
  <div class="container">
    <h1 class="page-title">Wishlist<span>Time for a new book?</span></h1>
  </div>
  <!-- End .container -->
</div>
<!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li
        class="breadcrumb-item active"
        aria-current="page"
        style="cursor: pointer"
      >
        Wishlist
      </li>
    </ol>
  </div>
  <!-- End .container -->
</nav>
<!-- End .breadcrumb-nav -->

<div class="page-content">
  <div class="container">
    <table class="table table-wishlist table-mobile">
      <thead>
        <tr>
          <th>Products</th>
          <th></th>
          <th></th>
          <th>Price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of items">
          <td class="product-col">
            <div class="product">
              <figure class="product-media">
                <a routerLink="#">
                  <img src="{{ item.cover }}" alt="Product image" />
                </a>
              </figure>

              <h3 class="product-title">
                <a routerLink="#">{{ item.title }}</a>
              </h3>
              <!-- End .product-title -->
            </div>
            <!-- End .product -->
          </td>
          <td></td>
          <td></td>

          <td class="price-col">${{ item.price }}</td>
          <td>
            <a class="btn btn-outline-primary btn-round" style="cursor: pointer"
              >Add to cart</a
            >
          </td>
          <td class="remove-col">
            <button class="btn-remove"><i class="icon-close"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
