<div
  class="page-header text-center"
  style="background-image: url('../../assets/images/page-header-bg.jpg')"
>
  <div class="container">
    <h1 class="page-title">About us<span>Pages</span></h1>
  </div>
</div>
<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <a style="cursor: pointer">About us</a>
      </li>
    </ol>
  </div>
</nav>

<div class="page-content pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="about-text text-center mt-3">
          <h2 class="title text-center mb-2">Who We Are</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
            asperiores mollitia minima doloremque repellat amet numquam quis
            laudantium voluptate sapiente cumque ea quisquam, delectus
            perferendis fugiat earum dolor cum labore?
          </p>
          <img
            src="../../assets/images/about/about-2/signature.png"
            alt="signature"
            class="mx-auto mb-5"
          />

          <a routerLink="/shop">
            <img
              src="../../assets/images/about/about-2/img-1.jpg"
              alt="image"
              class="mx-auto mb-6"
          /></a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6">
        <div class="icon-box icon-box-sm text-center">
          <span class="icon-box-icon">
            <i class="icon-puzzle-piece"></i>
          </span>
          <div class="icon-box-content">
            <h3 class="icon-box-title">Premium Books</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="icon-box icon-box-sm text-center">
          <span class="icon-box-icon">
            <i class="icon-life-ring"></i>
          </span>
          <div class="icon-box-content">
            <h3 class="icon-box-title">Professional Support</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="icon-box icon-box-sm text-center">
          <span class="icon-box-icon">
            <i class="icon-heart-o"></i>
          </span>
          <div class="icon-box-content">
            <h3 class="icon-box-title">Made With Love</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
