<div class="product" style="width: 210px; height: 360px">
  <span class="product-label label-new">Viral</span>
  <figure class="product-media">
    <a routerLink="/product/{{ product.book_id }}">
      <img
        src="{{ product.cover }}"
        alt="Product image"
        class="product-image"
      />
    </a>
  </figure>
  <!-- End .product-media -->

  <div class="product-body">
    <div class="product-cat">
      by
      <a routerLink="/product/{{ product.book_id }}">{{ product.author }}</a>
    </div>
    <!-- End .product-cat -->
    <h3 class="product-title">
      <a routerLink="/product/{{ product.book_id }}">{{ product.title }}</a>
    </h3>
    <!-- End .product-title -->
    <div class="product-price">${{ product.price }}</div>
    <!-- End .product-price -->

    <div class="product-footer">
      <div class="ratings-container">
        <div class="ratings">
          <div class="ratings-val" [style]="rating"></div>
          <!-- End .ratings-val -->
        </div>
        <!-- End .ratings -->
        <span class="ratings-text">( 2 Reviews )</span>
      </div>
      <!-- End .rating-container -->
      <div class="product-action" *ngIf="isAuthenticated">
        <a
          style="cursor: pointer"
          class="btn-product btn-cart"
          *ngIf="!isAddedToCart"
          (click)="onCart(product.book_id)"
          ><span>add to cart</span></a
        >
        <a
          style="cursor: pointer"
          class="btn-product btn-cart"
          routerLink="/cart"
          *ngIf="isAddedToCart"
          ><span>Go to cart</span></a
        >
        <a
          *ngIf="!isAddedToWishlist"
          style="cursor: pointer"
          (click)="onWishlist(product.book_id)"
          class="btn-product btn-wishlist"
          ><span>Add to Wishlist</span></a
        >
        <a
          *ngIf="isAddedToWishlist"
          style="cursor: pointer"
          (click)="onRemove(product.book_id)"
          class="btn-product btn-wishlist"
          ><span>Remove from Wishlist</span></a
        >
      </div>
      <!-- End .product-action -->
    </div>
    <!-- End .product-footer -->
  </div>
  <!-- End .product-body -->
</div>
