<div
  class="page-header text-center"
  style="background-image: url('../../assets/images/page-header-bg.jpg')"
>
  <div class="container">
    <h1 class="page-title">Contact us<span>You want to connect?</span></h1>
  </div>
</div>
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <a style="cursor: pointer">Contact us </a>
      </li>
    </ol>
  </div>
</nav>

<div class="page-content">
  <div id="map" class="mb-5"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-box text-center">
          <h3>Office</h3>

          <address>1 Vitosha Bld., Sofia, 1000 <br />BULGARIA</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-box text-center">
          <h3>Start a Conversation</h3>

          <div><a style="cursor: pointer">softuncho@softuni.bg</a></div>
          <div><a style="cursor: pointer">+359 999-999-999</a></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-box text-center">
          <h3>Social</h3>

          <div class="social-icons social-icons-color justify-content-center">
            <a
              href="https://github.com/veselinppetkov"
              class="social-icon social-github"
              title="Github"
              target="_blank"
              ><i class="icon-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/veselinppetkov/"
              class="social-icon social-linkedin"
              title="LinkedIn"
              target="_blank"
              ><i class="icon-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
