<div class="product">
  <span class="product-label label-top">Award Winner</span>
  <figure class="product-media">
    <a routerLink="/product/{{ bestseller.book_id }}">
      <img
        src="{{ bestseller.cover }}"
        alt="Product image"
        class="product-image-bestseller"
      />
    </a>
  </figure>

  <div class="product-body">
    <div class="product-cat">
      by
      <a routerLink="/product/{{ bestseller.book_id }}">{{
        bestseller.author
      }}</a>
    </div>
    <h3 class="product-title">
      <a routerLink="/product/{{ bestseller.book_id }}">{{
        bestseller.title
      }}</a>
    </h3>
    <div class="product-price">
      <span class="new-price">${{ bestseller.price }}</span>
    </div>

    <div class="product-footer">
      <div class="ratings-container">
        <div class="ratings">
          <div class="ratings-val" [style]="rating"></div>
        </div>
        <span class="ratings-text">( 10 Reviews )</span>
      </div>
      <div class="product-action" *ngIf="isAuthenticated">
        <a routerLink="#" class="btn-product btn-cart"
          ><span>add to cart</span></a
        >
        <a
          *ngIf="!isAddedToWishlist"
          style="cursor: pointer"
          (click)="onWishlist(bestseller.book_id)"
          class="btn-product btn-wishlist"
          ><span>Add to Wishlist</span></a
        >
        <a
          *ngIf="isAddedToWishlist"
          style="cursor: pointer"
          (click)="onRemove(bestseller.book_id)"
          class="btn-product btn-wishlist"
          ><span>Remove from Wishlist</span></a
        >
      </div>
    </div>
  </div>
</div>
