<div class="product">
  <span class="product-label label-top">Top</span>
  <figure class="product-media">
    <a routerLink="/product/{{ bestseller.book_id }}">
      <img
        src="{{ bestseller.cover }}"
        alt="Product image"
        class="product-image-bestseller"
      />
    </a>
  </figure>

  <div class="product-body">
    <div class="product-cat">
      by <a routerLink="#">{{ bestseller.author }}</a>
    </div>
    <h3 class="product-title">
      <a routerLink="#">{{ bestseller.title }}</a>
    </h3>
    <div class="product-price">
      <span class="new-price">${{ bestseller.price }}</span>
      <span class="old-price"
        >Was ${{ (bestseller.price * 1.2).toFixed(2) }}</span
      >
    </div>

    <div class="product-footer">
      <div class="ratings-container">
        <div class="ratings">
          <div class="ratings-val" style="width: 80%"></div>
        </div>
        <span class="ratings-text">( 10 Reviews )</span>
      </div>
      <div class="product-action">
        <a routerLink="#" class="btn-product btn-cart"
          ><span>add to cart</span></a
        >
        <a routerLink="#" class="btn-product btn-wishlist"
          ><span>Add to Wishlist</span></a
        >
      </div>
    </div>
  </div>
</div>
