<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
  <div class="container d-flex align-items-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/shop">Products</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ product.title }}
      </li>
    </ol>

    <nav class="product-pager ml-auto" aria-label="Product">
      <!-- TODO PREV - NEXT-->
      <a
        class="product-pager-link product-pager-prev"
        routerLink="#"
        aria-label="Previous"
        tabindex="-1"
      >
        <i class="icon-angle-left"></i>
        <span>Prev</span>
      </a>

      <a
        class="product-pager-link product-pager-next"
        routerLink="#"
        aria-label="Next"
        tabindex="-1"
      >
        <span>Next</span>
        <i class="icon-angle-right"></i>
      </a>
    </nav>
  </div>
</nav>

<div class="page-content">
  <div class="container">
    <div class="product-details-top">
      <div class="row">
        <div class="col-md-6">
          <div class="product-gallery product-gallery-vertical">
            <div class="row">
              <figure class="product-main-image">
                <img
                  id="product-zoom"
                  src="{{ product.cover }}"
                  alt="product image"
                />

                <!-- ARROWS
                    <a
                    routerLink="#"
                    id="btn-product-gallery"
                    class="btn-product-gallery"
                  >
                    <i class="icon-arrows"></i>
                  </a> 
                -->
              </figure>
              <div id="product-zoom-gallery" class="product-image-gallery">
                <a class="product-gallery-item active" style="cursor: pointer">
                  <img src="{{ product.cover }}" alt="product side" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="product-details">
            <h1 class="product-title">{{ product.title }}</h1>
            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" [style]="rating"></div>
              </div>
              <!-- Review -->
              <a
                class="ratings-text"
                routerLink="#product-review-link"
                id="review-link"
                >( 2 Reviews )</a
              >
            </div>
            <!-- End of Review -->

            <div class="product-price">${{ product.price }}</div>
            <div class="product-content">
              <p>
                {{ product.description }}
              </p>
            </div>

            <div class="details-filter-row details-row-size">
              <label for="qty">Qty:</label>
              <div class="product-details-quantity">
                <input
                  type="number"
                  id="qty"
                  class="form-control"
                  value="1"
                  min="1"
                  max="10"
                  step="1"
                  data-decimals="0"
                  required
                />
              </div>
            </div>

            <div class="product-details-action">
              <a routerLink="#" class="btn-product btn-cart"
                ><span>add to cart</span></a
              >

              <div class="details-action-wrapper">
                <a
                  style="cursor: pointer"
                  *ngIf="!addedToWishList"
                  (click)="onWishlist(product.book_id)"
                  class="btn-product btn-wishlist"
                  title="Wishlist"
                  ><span>Add to Wishlist</span></a
                >
              </div>
            </div>

            <div class="product-details-footer">
              <div class="product-cat">
                <span>Category:</span>
                <a style="cursor: pointer">{{ product.category }}</a>
              </div>

              <div class="social-icons social-icons-sm">
                <span class="social-label">Share:</span>
                <a
                  style="cursor: pointer"
                  class="social-icon"
                  title="Facebook"
                  target="_blank"
                  ><i class="icon-facebook-f"></i
                ></a>
                <a
                  style="cursor: pointer"
                  class="social-icon"
                  title="Twitter"
                  target="_blank"
                  ><i class="icon-twitter"></i
                ></a>
                <a
                  style="cursor: pointer"
                  class="social-icon"
                  title="Instagram"
                  target="_blank"
                  ><i class="icon-instagram"></i
                ></a>
                <a
                  style="cursor: pointer"
                  class="social-icon"
                  title="Pinterest"
                  target="_blank"
                  ><i class="icon-pinterest"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-details-tab">
      <ul class="nav nav-pills justify-content-center" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="product-desc-link"
            data-toggle="tab"
            href="#product-desc-tab"
            role="tab"
            aria-controls="product-desc-tab"
            aria-selected="true"
            >Description</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="product-review-link"
            data-toggle="tab"
            href="#product-review-tab"
            role="tab"
            aria-controls="product-review-tab"
            aria-selected="false"
            >Reviews (2)</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="product-desc-tab"
          role="tabpanel"
          aria-labelledby="product-desc-link"
        >
          <div class="product-desc-content">
            <h3>Product Details</h3>
            <p>
              <strong>Title: </strong>
              <a class="product-cat" style="cursor: pointer">{{
                product.title
              }}</a>
            </p>
            <p>
              <strong>Author: </strong>
              <a class="product-cat" style="cursor: pointer">{{
                product.author
              }}</a>
            </p>
            <p><strong>Plot: </strong> {{ product.description }}</p>
            <p>
              <strong>Category: </strong>
              <a class="product-cat" style="cursor: pointer">{{
                product.category
              }}</a>
            </p>
            <p><strong>Price: </strong> {{ product.price }}$</p>
            <p><strong>Pages: </strong> {{ product.pages }}</p>
            <p><strong>Published Date: </strong> {{ product.publishedDate }}</p>
            <p><strong>Critics Rating: </strong> {{ product.rating }}/5 ★</p>
          </div>
        </div>
        <!-- Start of review section -->
        <div
          class="tab-pane fade"
          id="product-review-tab"
          role="tabpanel"
          aria-labelledby="product-review-link"
        >
          <div class="reviews">
            <h3>Reviews (2)</h3>
            <div class="review">
              <div class="row no-gutters">
                <div class="col-auto">
                  <h4><a style="cursor: pointer">Samanta J.</a></h4>
                  <div class="ratings-container">
                    <div class="ratings">
                      <div class="ratings-val" style="width: 80%"></div>
                    </div>
                  </div>
                  <span class="review-date">6 days ago</span>
                </div>
                <div class="col">
                  <h4>Good, perfect size</h4>

                  <div class="review-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Ducimus cum dolores assumenda asperiores facilis porro
                      reprehenderit animi culpa atque blanditiis commodi
                      perspiciatis doloremque, possimus, explicabo, autem fugit
                      beatae quae voluptas!
                    </p>
                  </div>

                  <div class="review-action">
                    <a routerLink="#"
                      ><i class="icon-thumbs-up"></i>Helpful (2)</a
                    >
                    <a routerLink="#"
                      ><i class="icon-thumbs-down"></i>Unhelpful (0)</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="row no-gutters">
                <div class="col-auto">
                  <h4><a routerLink="#">John Doe</a></h4>
                  <div class="ratings-container">
                    <div class="ratings">
                      <div class="ratings-val" style="width: 100%"></div>
                      <!-- End .ratings-val -->
                    </div>
                    <!-- End .ratings -->
                  </div>
                  <!-- End .rating-container -->
                  <span class="review-date">5 days ago</span>
                </div>
                <!-- End .col -->
                <div class="col">
                  <h4>Very good</h4>

                  <div class="review-content">
                    <p>
                      Sed, molestias, tempore? Ex dolor esse iure hic veniam
                      laborum blanditiis laudantium iste amet. Cum non voluptate
                      eos enim, ab cumque nam, modi, quas iure illum
                      repellendus, blanditiis perspiciatis beatae!
                    </p>
                  </div>
                  <!-- End .review-content -->

                  <div class="review-action">
                    <a routerLink="#"
                      ><i class="icon-thumbs-up"></i>Helpful (0)</a
                    >
                    <a routerLink="#"
                      ><i class="icon-thumbs-down"></i>Unhelpful (0)</a
                    >
                  </div>
                  <!-- End .review-action -->
                </div>
                <!-- End .col-auto -->
              </div>
              <!-- End .row -->
            </div>
          </div>
        </div>
        <!-- End of review section -->
      </div>
    </div>

    <!-- Start of you may section -->
    <!-- <h2 class="title text-center mb-4">You May Also Like</h2> -->
    <!-- Start of .owl-carousel you may -->
    <div
      class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
      data-toggle="owl"
      data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true,
                            "dots": false
                        }
                    }
                }'
    >
      <div class="product product-7 text-center">
        <figure class="product-media">
          <span class="product-label label-new">New</span>
          <a routerLink="product.html">
            <img
              src="../../assets/images/products/product-4.jpg"
              alt="Product image"
              class="product-image"
            />
          </a>

          <div class="product-action-vertical">
            <a
              class="btn-product-icon btn-wishlist btn-expandable"
              style="cursor: pointer"
              (click)="onWishlist(product.book_id)"
              ><span>add to wishlist</span></a
            >
            <a
              routerLink="popup/quickView.html"
              class="btn-product-icon btn-quickview"
              title="Quick view"
              ><span>Quick view</span></a
            >
            <a
              routerLink="#"
              class="btn-product-icon btn-compare"
              title="Compare"
              ><span>Compare</span></a
            >
          </div>
          <!-- End .product-action-vertical -->

          <div class="product-action">
            <a routerLink="#" class="btn-product btn-cart"
              ><span>add to cart</span></a
            >
          </div>
          <!-- End .product-action -->
        </figure>
        <!-- End .product-media -->

        <div class="product-body">
          <div class="product-cat">
            <a routerLink="#">Women</a>
          </div>
          <!-- End .product-cat -->
          <h3 class="product-title">
            <a routerLink="product.html"
              >Brown paperbag waist <br />pencil skirt</a
            >
          </h3>
          <!-- End .product-title -->
          <div class="product-price">$60.00</div>
          <!-- End .product-price -->
          <div class="ratings-container">
            <div class="ratings">
              <div class="ratings-val" style="width: 20%"></div>
              <!-- End .ratings-val -->
            </div>
            <!-- End .ratings -->
            <span class="ratings-text">( 2 Reviews )</span>
          </div>
          <!-- End .rating-container -->

          <div class="product-nav product-nav-thumbs">
            <a routerLink="#" class="active">
              <img
                src="../../assets/images/products/product-4-thumb.jpg"
                alt="product desc"
              />
            </a>
            <a routerLink="#">
              <img
                src="../../assets/images/products/product-4-2-thumb.jpg"
                alt="product desc"
              />
            </a>

            <a routerLink="#">
              <img
                src="../../assets/images/products/product-4-3-thumb.jpg"
                alt="product desc"
              />
            </a>
          </div>
          <!-- End .product-nav -->
        </div>
        <!-- End .product-body -->
      </div>
      <!-- End .product -->

      <div class="product product-7 text-center">
        <figure class="product-media">
          <span class="product-label label-out">Out of Stock</span>
          <a routerLink="product.html">
            <img
              src="../../assets/images/products/product-6.jpg"
              alt="Product image"
              class="product-image"
            />
          </a>

          <div class="product-action-vertical">
            <a
              *ngIf="!addedToWishList"
              routerLink="#"
              class="btn-product-icon btn-wishlist btn-expandable"
              ><span>add to wishlist</span></a
            >
            <a
              routerLink="popup/quickView.html"
              class="btn-product-icon btn-quickview"
              title="Quick view"
              ><span>Quick view</span></a
            >
            <a
              routerLink="#"
              class="btn-product-icon btn-compare"
              title="Compare"
              ><span>Compare</span></a
            >
          </div>
          <!-- End .product-action-vertical -->

          <div class="product-action">
            <a routerLink="#" class="btn-product btn-cart"
              ><span>add to cart</span></a
            >
          </div>
          <!-- End .product-action -->
        </figure>
        <!-- End .product-media -->

        <div class="product-body">
          <div class="product-cat">
            <a routerLink="#">Jackets</a>
          </div>
          <!-- End .product-cat -->
          <h3 class="product-title">
            <a routerLink="product.html">Khaki utility boiler jumpsuit</a>
          </h3>
          <!-- End .product-title -->
          <div class="product-price">
            <span class="out-price">$120.00</span>
          </div>
          <!-- End .product-price -->
          <div class="ratings-container">
            <div class="ratings">
              <div class="ratings-val" style="width: 80%"></div>
              <!-- End .ratings-val -->
            </div>
            <!-- End .ratings -->
            <span class="ratings-text">( 6 Reviews )</span>
          </div>
          <!-- End .rating-container -->
        </div>
        <!-- End .product-body -->
      </div>
      <!-- End .product -->

      <div class="product product-7 text-center">
        <figure class="product-media">
          <span class="product-label label-top">Top</span>
          <a routerLink="product.html">
            <img
              src="../../assets/images/products/product-11.jpg"
              alt="Product image"
              class="product-image"
            />
          </a>

          <div class="product-action-vertical">
            <a
              *ngIf="!addedToWishList"
              routerLink="#"
              class="btn-product-icon btn-wishlist btn-expandable"
              ><span>add to wishlist</span></a
            >
            <a
              routerLink="popup/quickView.html"
              class="btn-product-icon btn-quickview"
              title="Quick view"
              ><span>Quick view</span></a
            >
            <a
              routerLink="#"
              class="btn-product-icon btn-compare"
              title="Compare"
              ><span>Compare</span></a
            >
          </div>
          <!-- End .product-action-vertical -->

          <div class="product-action">
            <a routerLink="#" class="btn-product btn-cart"
              ><span>add to cart</span></a
            >
          </div>
          <!-- End .product-action -->
        </figure>
        <!-- End .product-media -->

        <div class="product-body">
          <div class="product-cat">
            <a routerLink="#">Shoes</a>
          </div>
          <!-- End .product-cat -->
          <h3 class="product-title">
            <a routerLink="product.html">Light brown studded Wide fit wedges</a>
          </h3>
          <!-- End .product-title -->
          <div class="product-price">$110.00</div>
          <!-- End .product-price -->
          <div class="ratings-container">
            <div class="ratings">
              <div class="ratings-val" style="width: 80%"></div>
              <!-- End .ratings-val -->
            </div>
            <!-- End .ratings -->
            <span class="ratings-text">( 1 Reviews )</span>
          </div>
          <!-- End .rating-container -->

          <div class="product-nav product-nav-thumbs">
            <a routerLink="#" class="active">
              <img
                src="../../assets/images/products/product-11-thumb.jpg"
                alt="product desc"
              />
            </a>
            <a routerLink="#">
              <img
                src="../../assets/images/products/product-11-2-thumb.jpg"
                alt="product desc"
              />
            </a>

            <a routerLink="#">
              <img
                src="../../assets/images/products/product-11-3-thumb.jpg"
                alt="product desc"
              />
            </a>
          </div>
          <!-- End .product-nav -->
        </div>
        <!-- End .product-body -->
      </div>
      <!-- End .product -->

      <div class="product product-7 text-center">
        <figure class="product-media">
          <a routerLink="product.html">
            <img
              src="../../assets/images/products/product-10.jpg"
              alt="Product image"
              class="product-image"
            />
          </a>

          <div class="product-action-vertical">
            <a
              *ngIf="!addedToWishList"
              routerLink="#"
              class="btn-product-icon btn-wishlist btn-expandable"
              ><span>add to wishlist</span></a
            >
            <a
              routerLink="popup/quickView.html"
              class="btn-product-icon btn-quickview"
              title="Quick view"
              ><span>Quick view</span></a
            >
            <a
              routerLink="#"
              class="btn-product-icon btn-compare"
              title="Compare"
              ><span>Compare</span></a
            >
          </div>
          <!-- End .product-action-vertical -->

          <div class="product-action">
            <a routerLink="#" class="btn-product btn-cart"
              ><span>add to cart</span></a
            >
          </div>
          <!-- End .product-action -->
        </figure>
        <!-- End .product-media -->

        <div class="product-body">
          <div class="product-cat">
            <a routerLink="#">Jumpers</a>
          </div>
          <!-- End .product-cat -->
          <h3 class="product-title">
            <a routerLink="product.html">Yellow button front tea top</a>
          </h3>
          <!-- End .product-title -->
          <div class="product-price">$56.00</div>
          <!-- End .product-price -->
          <div class="ratings-container">
            <div class="ratings">
              <div class="ratings-val" style="width: 0%"></div>
              <!-- End .ratings-val -->
            </div>
            <!-- End .ratings -->
            <span class="ratings-text">( 0 Reviews )</span>
          </div>
          <!-- End .rating-container -->
        </div>
        <!-- End .product-body -->
      </div>
      <!-- End .product -->

      <div class="product product-7 text-center">
        <figure class="product-media">
          <a routerLink="product.html">
            <img
              src="../../assets/images/products/product-7.jpg"
              alt="Product image"
              class="product-image"
            />
          </a>

          <div class="product-action-vertical">
            <a
              *ngIf="!addedToWishList"
              routerLink="#"
              class="btn-product-icon btn-wishlist btn-expandable"
              ><span>add to wishlist</span></a
            >
            <a
              routerLink="popup/quickView.html"
              class="btn-product-icon btn-quickview"
              title="Quick view"
              ><span>Quick view</span></a
            >
            <a
              routerLink="#"
              class="btn-product-icon btn-compare"
              title="Compare"
              ><span>Compare</span></a
            >
          </div>
          <!-- End .product-action-vertical -->

          <div class="product-action">
            <a routerLink="#" class="btn-product btn-cart"
              ><span>add to cart</span></a
            >
          </div>
          <!-- End .product-action -->
        </figure>
        <!-- End .product-media -->

        <div class="product-body">
          <div class="product-cat">
            <a routerLink="#">Jeans</a>
          </div>
          <!-- End .product-cat -->
          <h3 class="product-title">
            <a routerLink="product.html">Blue utility pinafore denim dress</a>
          </h3>
          <!-- End .product-title -->
          <div class="product-price">$76.00</div>
          <!-- End .product-price -->
          <div class="ratings-container">
            <div class="ratings">
              <div class="ratings-val" style="width: 20%"></div>
              <!-- End .ratings-val -->
            </div>
            <!-- End .ratings -->
            <span class="ratings-text">( 2 Reviews )</span>
          </div>
          <!-- End .rating-container -->
        </div>
        <!-- End .product-body -->
      </div>
      <!-- End .product -->
    </div>
    <!-- End .owl-carousel and you may section -->
  </div>
</div>
