<div class="bestseller-products bg-light pt-5 pb-5 mb-5">
  <div class="block">
    <div class="block-wrapper">
      <div class="container">
        <div class="heading heading-flex">
          <div class="heading-left">
            <h2 class="title">Bestsellers</h2>
          </div>
          <div class="heading-right">
            <a routerLink="/shop" class="title-link"
              >View more Products <i class="icon-long-arrow-right"></i
            ></a>
          </div>
        </div>
        <!-- CAROUSEL -->
        <div
          id="my-custom-carousel"
          class="owl-carousel carousel-equal-height owl-simple"
        >
          <app-bestseller-item
            *ngFor="let bestsellerItem of bestsellers; let i = index"
            [bestseller]="bestsellerItem"
            [index]="i"
          ></app-bestseller-item>
        </div>
        <!-- END OF CAROUSEL -->
      </div>
    </div>
  </div>
</div>
